<style>
.player-wrapper{
  margin: auto;
  border: none
}
.sharing-btn{
  display: none !important;
}
</style>
<div class="player-wrapper col-xs-12">
  <script src="//cdn.playwire.com/bolt/js/zeus/embed.js" data-config="//config.playwire.com/21772/videos/v2/5332421/zeus.json" data-width="100%" data-height="100%"  type="text/javascript" charset="utf-8"></script>
</div>
<div id="highlights-nodes">
   <% @Matches.each do |match| %>
       <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
           <a href="/<%=match.HomeTeam.CanonicalName + "-vs-" +match.AwayTeam.CanonicalName+ "-highlights/latest" %>">
               <div class="node">
                   <img src="<%="/Images/"+match.CoverPicture%>" wmode="transparent" alt="">
                   <div class="node-text"><%=match.HomeTeam.Name + " vs " +match.AwayTeam.Name%></div>
               </div>
           </a>
       </div>
   <% end -%>
</div>
