<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta charset="utf-8"/>
		<title>HD Football highlights</title>

		<meta name="description" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
		<%= csrf_meta_tags %>
		<link rel="stylesheet" href="/bootstrap.css" media="screen" title="no title">
		<link rel="stylesheet" href="/font-awesome.min.css" media="screen" title="no title">
		<link rel="stylesheet" href="/fonts.googleapis.com.css" media="screen" title="no title">
		<link rel="stylesheet" href="/ace.min.css" media="screen" title="no title">

		<script src="/jquery-3.1.1.min.js" charset="utf-8"></script>
		<script src="/bootstrap.min.js" charset="utf-8"></script>
		<script src="/ace-elements.min.js" charset="utf-8"></script>
		<script src="/ace.min.js" charset="utf-8"></script>
		<script src="/bootstrap.min.js" charset="utf-8"></script>
		<script src="/ace-extra.min.js" charset="utf-8"></script>
		<style>
			.main-container {
				overflow: hidden;
			}

		</style>

	</head>

	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default          ace-save-state">
			<div class="navbar-container ace-save-state" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="index.html" class="navbar-brand">
						<small>
							<i class="fa fa-futbol-o "></i>
							HD Football Highlights
						</small>
					</a>
				</div>
			</div>
		</div>

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try {
					ace.settings.loadState('main-container')
				} catch (e) {}
			</script>

			<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
				<script type="text/javascript">
					try {
						ace.settings.loadState('sidebar')
					} catch (e) {}
				</script>

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-success">
							<i class="ace-icon fa fa-signal"></i>
						</button>

						<button class="btn btn-info">
							<i class="ace-icon fa fa-pencil"></i>
						</button>

						<button class="btn btn-warning">
							<i class="ace-icon fa fa-users"></i>
						</button>

						<button class="btn btn-danger">
							<i class="ace-icon fa fa-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div>

				<ul class="nav nav-list">
					<li class="">
						<a href="/admin/index">
							<i class="menu-icon fa fa-desktop"></i>
							<span class="menu-text">
								Dashboard
							</span>
						</a>
					</li>
					<li class="">

						<a href="/admin/matches">
							<i class="menu-icon fa fa-futbol-o"></i>
							<span class="menu-text">
								Matches
							</span>
						</a>
					</li>
					<li class="">
						<a href="/admin/editmatch">
							<i class="menu-icon fa fa-pencil-square-o"></i>
							<span class="menu-text">
								Add New Match
							</span>
						</a>
						<b class="arrow"></b>
					</li>
					<li class="">
						<a href="/admin/competitions">
							<i class="menu-icon fa fa-gamepad"></i>
							<span class="menu-text">
								Competitions
							</span>
						</a>
						<b class="arrow"></b>
					</li>

				</ul>
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

						</ul>

					</div>

					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<%=yield%>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content"></div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div>
	</body>
</html>
